body{
        
             background-image: linear-gradient(rgba(4, 32, 54, 1),rgb(3, 41, 88),rgba(4, 32, 54, 1),rgb(3, 41, 88),rgba(4, 32, 54, 1));
 
}
img{
    width: 1300px;
margin-left: 80px;
margin-top: 80px;
}
button{
    width: 178px;
    height: 50px;
    border-radius: 100px;
    color: #ffffff;
    font-size: 16px;
    margin-left: 1200px;
    margin-top: 70px;
    position: relative;
    justify-items: baseline;
    margin-bottom: 100px;
   
  background-image: linear-gradient(rgb(14, 7, 104),rgb(9, 109, 137));
}
button::after{
    content:'';
    position: absolute;
    height: 55px;
    width: 200px;
    margin-left:-98px;
    margin-top: -27px;
    border-radius: 100px;
    /* background-image: linear-gradient(rgb(129, 61, 247),rgb(49, 201, 243)); */
    z-index: -1;
}
button:hover{
    z-index: 0;
    box-shadow: 40px 0 100px #204ba8 , -40px 0 100px #9e17d3 ;
   background-image: linear-gradient(rgb(35, 25, 176),rgb(49, 201, 243));
}